TS5409_2021WG1_XML_and_JSON/ISO-TC295-WG1_N527_XML_samples_and_schemas/XML samples and schemas/XML Schemas/AdcBasCustomer-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Customer v1.0                                       -->
<!-- Message Rev.:        4                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    235                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      312                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        23-01-2021 14:26:09                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasCustomer-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasCustomer-v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AdcBasCustomer">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasCust" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS CUSTOMER</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustAcntId" minOccurs="1" maxOccurs="1" type="str:TypId100">
								<xsd:annotation>
									<xsd:documentation>Customer Account ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAcntNr" minOccurs="1" maxOccurs="1" type="str:TypId100">
								<xsd:annotation>
									<xsd:documentation>Customer Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAcntNm" minOccurs="1" maxOccurs="1" type="str:TypNm200">
								<xsd:annotation>
									<xsd:documentation>Customer Account Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAbrv" minOccurs="0" maxOccurs="1" type="str:TypNm100">
								<xsd:annotation>
									<xsd:documentation>Customer Abbreviation</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ParCustId" minOccurs="0" maxOccurs="1" type="str:TypId100">
								<xsd:annotation>
									<xsd:documentation>Parent Customer ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CorrSuplId" minOccurs="0" maxOccurs="1" type="str:TypId100">
								<xsd:annotation>
									<xsd:documentation>Corresponding Supplier ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustTypId" minOccurs="0" maxOccurs="1" type="str:TypId60">
								<xsd:annotation>
									<xsd:documentation>Customer Type ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustTin" minOccurs="1" maxOccurs="1" type="str:TypTaxIdentificationNr">
								<xsd:annotation>
									<xsd:documentation>Customer TIN</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InactiveDt" minOccurs="0" maxOccurs="1" type="str:TypDt">
								<xsd:annotation>
									<xsd:documentation>Inactive Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrCrLimit" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Transaction Credit Limit</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TotCrLimit" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Total Credit Limit</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDscntPerc" minOccurs="0" maxOccurs="1" type="str:TypPerc">
								<xsd:annotation>
									<xsd:documentation>Terms Discount Percentage</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDscntDays" minOccurs="0" maxOccurs="1" type="str:TypNr6">
								<xsd:annotation>
									<xsd:documentation>Terms Discount Days</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDueDays" minOccurs="0" maxOccurs="1" type="str:TypNr6">
								<xsd:annotation>
									<xsd:documentation>Terms Due Days</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PhysAdr" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - PHYSICAL ADDRESS</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StreetAdr1" minOccurs="1" maxOccurs="1" type="str:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StreetAdr2" minOccurs="0" maxOccurs="1" type="str:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CityNm" minOccurs="1" maxOccurs="1" type="str:TypCityNm">
											<xsd:annotation>
												<xsd:documentation>City Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatePrvncCd" minOccurs="0" maxOccurs="1" type="str:TypStatePrvncCd">
											<xsd:annotation>
												<xsd:documentation>State Province Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PostalCd" minOccurs="1" maxOccurs="1" type="str:TypPostalCd">
											<xsd:annotation>
												<xsd:documentation>Postal Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CntryCd" minOccurs="1" maxOccurs="1" type="str:TypCntryCd">
											<xsd:annotation>
												<xsd:documentation>Country Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BilAdr" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - BILLING ADDRESS</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StreetAdr1" minOccurs="1" maxOccurs="1" type="str:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StreetAdr2" minOccurs="0" maxOccurs="1" type="str:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CityNm" minOccurs="1" maxOccurs="1" type="str:TypCityNm">
											<xsd:annotation>
												<xsd:documentation>City Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatePrvncCd" minOccurs="0" maxOccurs="1" type="str:TypStatePrvncCd">
											<xsd:annotation>
												<xsd:documentation>State Province Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PostalCd" minOccurs="1" maxOccurs="1" type="str:TypPostalCd">
											<xsd:annotation>
												<xsd:documentation>Postal Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CntryCd" minOccurs="1" maxOccurs="1" type="str:TypCntryCd">
											<xsd:annotation>
												<xsd:documentation>Country Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PrimCnt" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - PRIMARY CONTACT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Nm" minOccurs="0" maxOccurs="1" type="str:TypNm100">
											<xsd:annotation>
												<xsd:documentation>Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Phone" minOccurs="0" maxOccurs="1" type="str:TypPhoneNr">
											<xsd:annotation>
												<xsd:documentation>Phone</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Email" minOccurs="0" maxOccurs="1" type="str:TypEmail">
											<xsd:annotation>
												<xsd:documentation>Email</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Crea" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - CREATED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="str:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="str:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Aprv" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - APPROVED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="str:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="str:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LstMdf" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - LAST MODIFIED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="str:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="str:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="TypAmt">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="22"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypCityNm">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypCntryCd">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypDt">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="TypEmail">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypId100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypId25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypId60">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypNm100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypNm200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypNr6">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypPerc">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypPhoneNr">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypPostalCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypStatePrvncCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypTaxIdentificationNr">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypText100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypTm">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
