WD5405/ISO-TC295_N242_ISOADCSSchemaspackages/1. ISO ADCS XML Schemas delivery package version 1/AdcInvLocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC INV Location v1.0                                       -->
<!-- Message Rev.:        4                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 16:07:29                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcInvLocation-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcInvLocation-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcInvLocation">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InvLct" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>INV LOCATION</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LctId" minOccurs="1" maxOccurs="1" type="cdt:TypId75">
								<xsd:annotation>
									<xsd:documentation>Location ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctCd" minOccurs="0" maxOccurs="1" type="cdt:TypText80">
								<xsd:annotation>
									<xsd:documentation>Location Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ParLctId" minOccurs="0" maxOccurs="1" type="cdt:TypId75">
								<xsd:annotation>
									<xsd:documentation>Parent Location ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctDscr" minOccurs="0" maxOccurs="1" type="cdt:TypText1000">
								<xsd:annotation>
									<xsd:documentation>Location Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctTyp" minOccurs="0" maxOccurs="1" type="cdt:TypText12">
								<xsd:annotation>
									<xsd:documentation>Location Type</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvOrgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Inventory Organization Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctActiveFlag" minOccurs="0" maxOccurs="1" type="cdt:TypBoolean">
								<xsd:annotation>
									<xsd:documentation>Location Active Flag</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PhysAdr" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>inv location - PHYSICAL ADDRESS</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StreetAdr1" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StreetAdr2" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CityNm" minOccurs="0" maxOccurs="1" type="cdt:TypCityNm">
											<xsd:annotation>
												<xsd:documentation>City Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatePrvncCd" minOccurs="0" maxOccurs="1" type="cdt:TypStatePrvncCd">
											<xsd:annotation>
												<xsd:documentation>State Province Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PostalCd" minOccurs="0" maxOccurs="1" type="cdt:TypPostalCd">
											<xsd:annotation>
												<xsd:documentation>Postal Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CntryCd" minOccurs="0" maxOccurs="1" type="cdt:TypCntryCd">
											<xsd:annotation>
												<xsd:documentation>Country Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>inv location - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
