WD5405/2021-06/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/2. ISO ADCS XML Schemas development package version 1/AdcBasBankAccount-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Bank Account v1.0                                   -->
<!-- Message Rev.:        6                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:29:42                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasBankAccount-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasBankAccount-v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AdcBasBankAccount">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasBankAcnt" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS BANK ACCOUNT</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BankAcntNr" minOccurs="1" maxOccurs="1" type="str:TypId60">
								<xsd:annotation>
									<xsd:documentation>Bank Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BankAcntNm" minOccurs="0" maxOccurs="1" type="str:TypText128">
								<xsd:annotation>
									<xsd:documentation>Bank Account Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BankCd" minOccurs="0" maxOccurs="1" type="str:TypBankCd">
								<xsd:annotation>
									<xsd:documentation>Bank Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BankNm" minOccurs="0" maxOccurs="1" type="str:TypText200">
								<xsd:annotation>
									<xsd:documentation>Bank Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BraCd" minOccurs="0" maxOccurs="1" type="str:TypBraCd">
								<xsd:annotation>
									<xsd:documentation>Branch Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BraNm" minOccurs="0" maxOccurs="1" type="str:TypText200">
								<xsd:annotation>
									<xsd:documentation>Branch Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BraCntryCd" minOccurs="0" maxOccurs="1" type="str:TypCntryCd">
								<xsd:annotation>
									<xsd:documentation>Branch Country Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BraRegion" minOccurs="0" maxOccurs="1" type="str:TypText25">
								<xsd:annotation>
									<xsd:documentation>Branch Region</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ActiveFlag" minOccurs="0" maxOccurs="1" type="str:TypBoolean">
								<xsd:annotation>
									<xsd:documentation>Active Flag</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>bas bank account - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- BANK CODE: FORMAT: AN..80 -->
	<xsd:simpleType name="TypBankCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- BOOLEAN: FORMAT: N1 -->
	<xsd:simpleType name="TypBoolean">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- BRANCH CODE: FORMAT: AN..80 -->
	<xsd:simpleType name="TypBraCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- COUNTRY CODE: FORMAT: AN..3 -->
	<xsd:simpleType name="TypCntryCd">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- IDENTIFIER 25: FORMAT: AN..25 -->
	<xsd:simpleType name="TypId25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- IDENTIFIER 60: FORMAT: AN..60 -->
	<xsd:simpleType name="TypId60">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 128: FORMAT: AN..128 -->
	<xsd:simpleType name="TypText128">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 200: FORMAT: AN..200 -->
	<xsd:simpleType name="TypText200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 25: FORMAT: AN..25 -->
	<xsd:simpleType name="TypText25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
