WD5405/2021-06/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/2. ISO ADCS XML Schemas development package version 1/AdcInvOnHand-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC INV On Hand v1.0                                        -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 16:07:31                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcInvOnHand-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcInvOnHand-v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AdcInvOnHand">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InvOnHand" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>INV ON HAND</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvId" minOccurs="1" maxOccurs="1" type="str:TypId75">
								<xsd:annotation>
									<xsd:documentation>Inventory ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvPrdctId" minOccurs="1" maxOccurs="1" type="str:TypId75">
								<xsd:annotation>
									<xsd:documentation>Inventory Product ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LotNr" minOccurs="0" maxOccurs="1" type="str:TypText60">
								<xsd:annotation>
									<xsd:documentation>Lot Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SerialNr" minOccurs="0" maxOccurs="1" type="str:TypText60">
								<xsd:annotation>
									<xsd:documentation>Serial Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvAbcCd" minOccurs="0" maxOccurs="1" type="str:TypInvAbcCd">
								<xsd:annotation>
									<xsd:documentation>Inventory ABC Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctId" minOccurs="0" maxOccurs="1" type="str:TypId75">
								<xsd:annotation>
									<xsd:documentation>Location ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvAsOfDt" minOccurs="0" maxOccurs="1" type="str:TypDt">
								<xsd:annotation>
									<xsd:documentation>Inventory As Of Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvPurYrtodtQt" minOccurs="0" maxOccurs="1" type="str:TypQt">
								<xsd:annotation>
									<xsd:documentation>INV PUR YearToDate Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvSoldYrtodtQt" minOccurs="0" maxOccurs="1" type="str:TypQt">
								<xsd:annotation>
									<xsd:documentation>INV Sold YearToDate Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvOrgCd" minOccurs="0" maxOccurs="1" type="str:TypId25">
								<xsd:annotation>
									<xsd:documentation>Inventory Organization Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CostOrgCd" minOccurs="0" maxOccurs="1" type="str:TypId25">
								<xsd:annotation>
									<xsd:documentation>Cost Organization Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvCstngUomCd" minOccurs="0" maxOccurs="1" type="str:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Inventory Costing UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvPrchsngUomCd" minOccurs="0" maxOccurs="1" type="str:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Inventory Purchasing UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvSellingUomCd" minOccurs="0" maxOccurs="1" type="str:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Inventory Selling UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvStckUomCd" minOccurs="0" maxOccurs="1" type="str:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Inventory Stocking UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Qt" minOccurs="0" maxOccurs="1" type="str:TypQt">
								<xsd:annotation>
									<xsd:documentation>Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SystQt" minOccurs="0" maxOccurs="1" type="str:TypQt">
								<xsd:annotation>
									<xsd:documentation>System Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PhysCountQt" minOccurs="0" maxOccurs="1" type="str:TypQt">
								<xsd:annotation>
									<xsd:documentation>Physical Count Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LstCountDt" minOccurs="0" maxOccurs="1" type="str:TypDt">
								<xsd:annotation>
									<xsd:documentation>Last Count Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvListPrice" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Inventory List Price</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvCost" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Inventory Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvCostMthd" minOccurs="0" maxOccurs="1" type="str:TypText25">
								<xsd:annotation>
									<xsd:documentation>Inventory Cost Method</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AverageCost" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Average Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="StdCost" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Standard Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SpecificCost" minOccurs="0" maxOccurs="1" type="str:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Specific Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FuncCurCd" minOccurs="0" maxOccurs="1" type="str:TypCurCd">
								<xsd:annotation>
									<xsd:documentation>Functional Currency Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BinId" minOccurs="0" maxOccurs="1" type="str:TypText25">
								<xsd:annotation>
									<xsd:documentation>Bin ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BinLct" minOccurs="0" maxOccurs="1" type="str:TypText50">
								<xsd:annotation>
									<xsd:documentation>Bin Location</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>inv on hand - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- AMOUNT: FORMAT: N..22,4 -->
	<xsd:simpleType name="TypAmt">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="22"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- CURRENCY CODE: FORMAT: AN3 -->
	<xsd:simpleType name="TypCurCd">
		<xsd:annotation>
			<xsd:documentation>ISO 4217, codes for representation of currencies.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- DATE: FORMAT: AN10 -->
	<xsd:simpleType name="TypDt">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<!-- IDENTIFIER 25: FORMAT: AN..25 -->
	<xsd:simpleType name="TypId25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- IDENTIFIER 75: FORMAT: AN..75 -->
	<xsd:simpleType name="TypId75">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- INVENTORY ABC CODE: FORMAT: AN..25 -->
	<xsd:simpleType name="TypInvAbcCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- MEASUREMENT UNIT CODE: FORMAT: AN..80 -->
	<xsd:simpleType name="TypMeaUnitCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- QUANTITY: FORMAT: N..22,4 -->
	<xsd:simpleType name="TypQt">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="22"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 25: FORMAT: AN..25 -->
	<xsd:simpleType name="TypText25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 50: FORMAT: AN..50 -->
	<xsd:simpleType name="TypText50">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 60: FORMAT: AN..60 -->
	<xsd:simpleType name="TypText60">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
