WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/2. ISO ADCS XML Schemas development package version 1/AdcBasChartOfAccounts-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Chart Of  Accounts v1.0                             -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 14:45:23                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasChartOfAccounts-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasChartOfAccounts-v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="AdcBasChartOfAccounts">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasChartOfAcnts" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS CHART OF ACCOUNTS</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GlAcntNr" minOccurs="1" maxOccurs="1" type="str:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>GL Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GlAcntNm" minOccurs="0" maxOccurs="1" type="str:TypText100">
								<xsd:annotation>
									<xsd:documentation>GL Account Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GlAcntDscr" minOccurs="0" maxOccurs="1" type="str:TypText1000">
								<xsd:annotation>
									<xsd:documentation>GL Account Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FsCaption" minOccurs="0" maxOccurs="1" type="str:TypText100">
								<xsd:annotation>
									<xsd:documentation>FS Caption</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntTyp" minOccurs="0" maxOccurs="1" type="str:TypAcntTyp">
								<xsd:annotation>
									<xsd:documentation>Account Type</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntSubtyp" minOccurs="0" maxOccurs="1" type="str:TypAcntTyp">
								<xsd:annotation>
									<xsd:documentation>Account Subtype</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntHrchy" minOccurs="0" maxOccurs="1" type="str:TypAcntHrchy">
								<xsd:annotation>
									<xsd:documentation>Account Hierarchy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ParGlAcntNr" minOccurs="0" maxOccurs="1" type="str:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>Parent GL Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BalDbOrCrCd" minOccurs="0" maxOccurs="1" type="str:TypCrDbCd">
								<xsd:annotation>
									<xsd:documentation>Balance Debit Or Credit Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ActiveFlag" minOccurs="0" maxOccurs="1" type="str:TypBoolean">
								<xsd:annotation>
									<xsd:documentation>Active Flag</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>bas chart of accounts - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="str:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ACCOUNT HIERARCHY: FORMAT: N..2 -->
	<xsd:simpleType name="TypAcntHrchy">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ACCOUNT TYPE: FORMAT: AN..25 -->
	<xsd:simpleType name="TypAcntTyp">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- BOOLEAN: FORMAT: N1 -->
	<xsd:simpleType name="TypBoolean">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- CREDIT DEBIT CODE: FORMAT: AN..1 -->
	<xsd:simpleType name="TypCrDbCd">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>credit</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>debit</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- GL ACCOUNT NUMBER 100: FORMAT: AN..100 -->
	<xsd:simpleType name="TypGlAcntNr100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- IDENTIFIER 25: FORMAT: AN..25 -->
	<xsd:simpleType name="TypId25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 100: FORMAT: AN..100 -->
	<xsd:simpleType name="TypText100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TEXT 1000: FORMAT: AN..1000 -->
	<xsd:simpleType name="TypText1000">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
