WD5405/2021-06/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcGlSource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC GL Source v1.0                                          -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:53:54                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcGlSource-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcGlSource-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcGlSource">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GlSrc" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>GL SOURCE</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SrcCd" minOccurs="1" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Source Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SrcDscr" minOccurs="0" maxOccurs="1" type="cdt:TypText1000">
								<xsd:annotation>
									<xsd:documentation>Source Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ErpSbldgrMod" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>ERP Subledger Module</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SystManualId" minOccurs="0" maxOccurs="1" type="cdt:TypSystManualId">
								<xsd:annotation>
									<xsd:documentation>System Manual Identifier</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusProcMajor" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Business Process Major</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusProcMinor" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Business Process Minor</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
