WD5405/2021-06/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcPpeMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC PPE Master v1.0                                         -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 16:09:59                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcPpeMaster-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcPpeMaster-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcPpeMaster">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PpeMaster" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>PPE MASTER</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PpeId" minOccurs="1" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>PPE ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PpeCd" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>PPE Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TagNr" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Tag Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TypCd" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Type Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PpeNm" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>PPE Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PpeFeature" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>PPE Feature</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BarCd" minOccurs="0" maxOccurs="1" type="cdt:TypText25">
								<xsd:annotation>
									<xsd:documentation>Bar Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PurOrdId" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Purchase Order ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InvPrdctId" minOccurs="0" maxOccurs="1" type="cdt:TypId75">
								<xsd:annotation>
									<xsd:documentation>Inventory Product ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SerialNr" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Serial Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LotNr" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Lot Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Manufacturer" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Manufacturer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SuplAcntId" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Supplier Account ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LctDscr" minOccurs="0" maxOccurs="1" type="cdt:TypText1000">
								<xsd:annotation>
									<xsd:documentation>Location Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ConditionNm" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Condition Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcqDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Acquisition Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostedDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Posted Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PlacedIntoSrvcDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Placed Into Service Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="QtOnHand" minOccurs="0" maxOccurs="1" type="cdt:TypQt">
								<xsd:annotation>
									<xsd:documentation>Quantity On Hand</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="UomCd" minOccurs="0" maxOccurs="1" type="cdt:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="UsefulLife" minOccurs="0" maxOccurs="1" type="cdt:TypNr4">
								<xsd:annotation>
									<xsd:documentation>Useful Life</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="UsefulLifeRmng" minOccurs="0" maxOccurs="1" type="cdt:TypNr4">
								<xsd:annotation>
									<xsd:documentation>Useful Life Remaining</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OriginalCost" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Original Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ResiValue" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Residual Value</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AccumDepre" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Accumulated Depreciation</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ImprProv" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Impairment Provision</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NetBookValue" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Net Book Value</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RplcCost" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Replacement Cost</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FairValue" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Fair Value</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FuncCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
								<xsd:annotation>
									<xsd:documentation>Functional Currency Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PpeAcntNr" minOccurs="0" maxOccurs="1" type="cdt:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>PPE Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ImprProvAccNum" minOccurs="0" maxOccurs="1" type="cdt:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>Impairment Provision ACC NUM</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AccumDepreAccNum" minOccurs="0" maxOccurs="1" type="cdt:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>Accumulated Depreciation ACC NUM</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Crea" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>ppe master - CREATED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Aprv" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>ppe master - APPROVED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LstMdf" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>ppe master - LAST MODIFIED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>ppe master - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
