WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcBasProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Profile v1.0                                        -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:29:46                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasProfile-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasProfile-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcBasProfile">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasProfile" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS PROFILE</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProfileNr" minOccurs="1" maxOccurs="1" type="cdt:TypId5">
								<xsd:annotation>
									<xsd:documentation>Profile Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ProfileNm" minOccurs="0" maxOccurs="1" type="cdt:TypText30">
								<xsd:annotation>
									<xsd:documentation>Profile Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FiscYr" minOccurs="0" maxOccurs="1" type="cdt:TypYrId">
								<xsd:annotation>
									<xsd:documentation>Fiscal Year</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntingEntity" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Accounting Entity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Industry" minOccurs="0" maxOccurs="1" type="cdt:TypText20">
								<xsd:annotation>
									<xsd:documentation>Industry</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DvlprNm" minOccurs="0" maxOccurs="1" type="cdt:TypNm200">
								<xsd:annotation>
									<xsd:documentation>Developer Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SftwNm" minOccurs="0" maxOccurs="1" type="cdt:TypText200">
								<xsd:annotation>
									<xsd:documentation>Software Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SftwVers" minOccurs="0" maxOccurs="1" type="cdt:TypText20">
								<xsd:annotation>
									<xsd:documentation>Software Version</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FuncCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
								<xsd:annotation>
									<xsd:documentation>Functional Currency Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="StdVers" minOccurs="0" maxOccurs="1" type="cdt:TypText30">
								<xsd:annotation>
									<xsd:documentation>Standard Version</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ExtractedDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Extracted Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TmZone" minOccurs="0" maxOccurs="1" type="cdt:TypTmZone">
								<xsd:annotation>
									<xsd:documentation>Time Zone</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>bas profile - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
