WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcBasTaxRegulatory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Tax Regulatory v1.0                                 -->
<!-- Message Rev.:        5                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:29:43                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasTaxRegulatory-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasTaxRegulatory-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcBasTaxRegulatory">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasTaxRgltry" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS TAX REGULATORY</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RgltrCd" minOccurs="1" maxOccurs="1" type="cdt:TypRgltrCd">
								<xsd:annotation>
									<xsd:documentation>Regulator Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrCntryCd" minOccurs="0" maxOccurs="1" type="cdt:TypCntryCd">
								<xsd:annotation>
									<xsd:documentation>Regulator Country Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrRegion" minOccurs="0" maxOccurs="1" type="cdt:TypRegion">
								<xsd:annotation>
									<xsd:documentation>Regulator Region</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrNm" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Regulator Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrRole" minOccurs="0" maxOccurs="1" type="cdt:TypText20">
								<xsd:annotation>
									<xsd:documentation>Regulator Role</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrPblAcntNum" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Regulator Payable Account NUM</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrAccrlAcntNum" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Regulator Accrual Account NUM</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrExpnsAcntNum" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Regulator Expense Account NUM</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Regulator ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrRprtOrg" minOccurs="0" maxOccurs="1" type="cdt:TypId80">
								<xsd:annotation>
									<xsd:documentation>Regulator Reporting ORG</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RgltrActiveFlag" minOccurs="0" maxOccurs="1" type="cdt:TypBoolean">
								<xsd:annotation>
									<xsd:documentation>Regulator Active Flag</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>bas tax regulatory - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
