WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcBasCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Customer v1.0                                       -->
<!-- Message Rev.:        6                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    278                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      379                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        08-06-2021 15:34:46                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasCustomer-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasCustomer-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcBasCustomer">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasCust" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS CUSTOMER</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustAcntId" minOccurs="1" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Customer Account ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAcntNr" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Customer Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAcntNm" minOccurs="0" maxOccurs="1" type="cdt:TypNm200">
								<xsd:annotation>
									<xsd:documentation>Customer Account Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustAbrv" minOccurs="0" maxOccurs="1" type="cdt:TypNm100">
								<xsd:annotation>
									<xsd:documentation>Customer Abbreviation</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ParCustId" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Parent Customer ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CorrSuplId" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Corresponding Supplier ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustTypId" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Customer Type ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustTin" minOccurs="0" maxOccurs="1" type="cdt:TypTaxIdentificationNr">
								<xsd:annotation>
									<xsd:documentation>Customer TIN</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InactiveDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Inactive Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrCrLimit" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Transaction Credit Limit</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TotCrLimit" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Total Credit Limit</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDscntPerc" minOccurs="0" maxOccurs="1" type="cdt:TypPerc">
								<xsd:annotation>
									<xsd:documentation>Terms Discount Percentage</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDscntDays" minOccurs="0" maxOccurs="1" type="cdt:TypNr6">
								<xsd:annotation>
									<xsd:documentation>Terms Discount Days</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrmsDueDays" minOccurs="0" maxOccurs="1" type="cdt:TypNr6">
								<xsd:annotation>
									<xsd:documentation>Terms Due Days</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PhysAdr" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - PHYSICAL ADDRESS</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StreetAdr1" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StreetAdr2" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CityNm" minOccurs="0" maxOccurs="1" type="cdt:TypCityNm">
											<xsd:annotation>
												<xsd:documentation>City Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatePrvncCd" minOccurs="0" maxOccurs="1" type="cdt:TypStatePrvncCd">
											<xsd:annotation>
												<xsd:documentation>State Province Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PostalCd" minOccurs="0" maxOccurs="1" type="cdt:TypPostalCd">
											<xsd:annotation>
												<xsd:documentation>Postal Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CntryCd" minOccurs="0" maxOccurs="1" type="cdt:TypCntryCd">
											<xsd:annotation>
												<xsd:documentation>Country Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BillAdr" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - BILLING ADDRESS</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="StreetAdr1" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StreetAdr2" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
											<xsd:annotation>
												<xsd:documentation>Street Address2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CityNm" minOccurs="0" maxOccurs="1" type="cdt:TypCityNm">
											<xsd:annotation>
												<xsd:documentation>City Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatePrvncCd" minOccurs="0" maxOccurs="1" type="cdt:TypStatePrvncCd">
											<xsd:annotation>
												<xsd:documentation>State Province Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PostalCd" minOccurs="0" maxOccurs="1" type="cdt:TypPostalCd">
											<xsd:annotation>
												<xsd:documentation>Postal Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CntryCd" minOccurs="0" maxOccurs="1" type="cdt:TypCntryCd">
											<xsd:annotation>
												<xsd:documentation>Country Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PrimCnt" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - PRIMARY CONTACT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Nm" minOccurs="0" maxOccurs="1" type="cdt:TypNm100">
											<xsd:annotation>
												<xsd:documentation>Name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Phone" minOccurs="0" maxOccurs="1" type="cdt:TypPhoneNr">
											<xsd:annotation>
												<xsd:documentation>Phone</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Email" minOccurs="0" maxOccurs="1" type="cdt:TypEmail">
											<xsd:annotation>
												<xsd:documentation>Email</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Crea" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - CREATED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Aprv" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - APPROVED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LstMdf" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>bas customer - LAST MODIFIED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
