WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcBasSupplierType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC BAS Supplier Type v1.0                                  -->
<!-- Message Rev.:        6                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 14:45:21                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcBasSupplierType-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcBasSupplierType-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcBasSupplierType">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasSuplTyp" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>BAS SUPPLIER TYPE</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SuplTypId" minOccurs="1" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Supplier Type ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SuplTypCd" minOccurs="0" maxOccurs="1" type="cdt:TypSuplTypCd">
								<xsd:annotation>
									<xsd:documentation>Supplier Type Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SuplTypNm" minOccurs="0" maxOccurs="1" type="cdt:TypNm80">
								<xsd:annotation>
									<xsd:documentation>Supplier Type Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ParSuplTypId" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Parent Supplier Type ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
