WD5405/2021-08/ISO-TC295-WG1_N544_ISO_ADCS_Schemas_packages/1. ISO ADCS XML Schemas delivery package version 1/AdcSalOrdersDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC SAL Orders Details v1.0                                 -->
<!-- Message Rev.:        7                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:58:28                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcSalOrdersDetails-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcSalOrdersDetails-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcSalOrdersDetails">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SalOrdDtls" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>SAL ORDER DETAILS</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrdId" minOccurs="1" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Order ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OrdLnId" minOccurs="1" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Order Line ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OrdLnNr" minOccurs="0" maxOccurs="1" type="cdt:TypText10">
								<xsd:annotation>
									<xsd:documentation>Order Line Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ContrId" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Contract ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ContrLnId" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Contract Line ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PayerId" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
								<xsd:annotation>
									<xsd:documentation>Payer ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SetlOrgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Settlement Organization Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DispOrgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Dispatch Organization Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DueDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Due Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BasicUomQt" minOccurs="0" maxOccurs="1" type="cdt:TypQt">
								<xsd:annotation>
									<xsd:documentation>Basic UOM Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BasicUomCd" minOccurs="0" maxOccurs="1" type="cdt:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Basic UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OrdLnQt" minOccurs="0" maxOccurs="1" type="cdt:TypQt">
								<xsd:annotation>
									<xsd:documentation>Order Line Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OrdLnUomCd" minOccurs="0" maxOccurs="1" type="cdt:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>Order Line UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxExclUnitPrice" minOccurs="0" maxOccurs="1" type="cdt:TypPrice">
								<xsd:annotation>
									<xsd:documentation>Tax Exclude Unit Price</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxInclUnitPrice" minOccurs="0" maxOccurs="1" type="cdt:TypPrice">
								<xsd:annotation>
									<xsd:documentation>Tax Include Unit Price</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxExclAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Tax Exclude Amount</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxInclAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Tax Include Amount</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PrdctId" minOccurs="0" maxOccurs="1" type="cdt:TypId75">
								<xsd:annotation>
									<xsd:documentation>Product ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OrdLnTrAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
								<xsd:annotation>
									<xsd:documentation>Order Line Transaction Amount</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Stat" minOccurs="0" maxOccurs="1" type="cdt:TypStatCd">
								<xsd:annotation>
									<xsd:documentation>Status</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="4">
								<xsd:annotation>
									<xsd:documentation>sal order details - TAX</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TaxTypCd" minOccurs="0" maxOccurs="1" type="cdt:TypTaxTypCd">
											<xsd:annotation>
												<xsd:documentation>Tax Type Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TaxTrAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
											<xsd:annotation>
												<xsd:documentation>Tax Transaction Amount</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>sal order details - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
